/****** Object:  Table [dbo].[AsyncRequestStatuses]    Script Date: 2/17/2016 2:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsyncRequestStatuses](
	[RequestID] [varchar](50) NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[HttpMethod] [varchar](10) NOT NULL,
	[RequestUrl] [varchar](255) NOT NULL,
	[RequestDataBlobUrl] [varchar](255) NULL,
	[ResponseDataBlobUrl] [varchar](255) NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[Description] [varchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_AsyncRequestStatuses] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2/17/2016 2:27:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [uniqueidentifier] NOT NULL,
	[GlobalEntityID] [uniqueidentifier] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[AppID] [nvarchar](100) NOT NULL,
	[CloudUserId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[GeoCoordinates]    Script Date: 2/17/2016 2:27:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoCoordinates](
	[ID] [uniqueidentifier] NOT NULL,
	[GlobalEntityID] [uniqueidentifier] NOT NULL,
	[CoordinateX] [decimal](18, 12) NULL,
	[CoordinateY] [decimal](18, 12) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_GeoCoodinates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[GlobalEntities]    Script Date: 2/17/2016 2:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalEntities](
	[ID] [uniqueidentifier] NOT NULL,
	[EntityID] [nvarchar](200) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[AgencyName] [nvarchar](100) NOT NULL,
	[Environment] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CloudUserID] [uniqueidentifier] NULL,
	[UDF1] [nvarchar](1000) NULL,
	[UDF2] [nvarchar](1000) NULL,
	[UDF3] [nvarchar](1000) NULL,
	[UDF4] [nvarchar](1000) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[IsPrivate] [int] NOT NULL DEFAULT ((0)),
	[OpenedDate] [datetime] NULL,
	[AssignTo] [nvarchar](1000) NULL,
 CONSTRAINT [PK_GlobalEntities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Images]    Script Date: 2/17/2016 2:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [uniqueidentifier] NOT NULL,
	[GlobalEntityID] [uniqueidentifier] NOT NULL,
	[ImageURL] [nvarchar](1000) NOT NULL,
	[BlobContainer] [nvarchar](100) NOT NULL,
	[BlobName] [nvarchar](1000) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[PersistedData]    Script Date: 2/17/2016 2:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersistedData](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Namespace] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[DataKey] [nvarchar](512) NOT NULL,
	[BlobName] [nvarchar](1024) NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[BlobSize] [bigint] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Agency] [nvarchar](50) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PersistedData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Resources]    Script Date: 2/17/2016 2:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Id] [uniqueidentifier] NOT NULL,
	[API] [varchar](500) NOT NULL,
	[HttpVerb] [varchar](10) NOT NULL,
	[RelativeUriTemplateFull] [varchar](4000) NULL,
	[Name] [varchar](200) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[AuthenticationType] [int] NOT NULL CONSTRAINT [DF_ApiUris_AuthenticationType]  DEFAULT ((1)),
	[APIAttribute] [int] NOT NULL CONSTRAINT [DF_ApiUris_APIAttribute]  DEFAULT ((0)),
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[ProxyAPI] [varchar](4000) NULL,
	[Applicability] [varchar](10) NULL,
	[MethodNickName] [varchar](50) NULL,
	[SupportedAAVersions] [varchar](500) NULL,
	[SupportedAPIVersions] [varchar](200) NULL,
	[ResourceGroupName] [varchar](200) NULL,
	[FIDDescription] [varchar](100) NULL,
	[IsProxy] [int] NOT NULL DEFAULT ((0)),
	[IsAAGovxmlAPI] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF),
 CONSTRAINT [IUX_API_HttpVerb] UNIQUE NONCLUSTERED 
(
	[API] ASC,
	[HttpVerb] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Scope2Groups]    Script Date: 2/17/2016 2:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scope2Groups](
	[ID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[ScopeName] [varchar](200) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Scope2Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[ScopeGroups]    Script Date: 2/17/2016 2:27:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScopeGroups](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ScopeGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Votes]    Script Date: 2/17/2016 2:27:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[ID] [uniqueidentifier] NOT NULL,
	[GlobalEntityID] [uniqueidentifier] NOT NULL,
	[UpOrDown] [int] NOT NULL CONSTRAINT [DF_Votes_UpOrDown]  DEFAULT ((0)),
	[Favorite] [int] NOT NULL CONSTRAINT [DF_Votes_Favorite]  DEFAULT ((0)),
	[AppID] [nvarchar](100) NOT NULL,
	[CloudUserID] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Votes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Index [IX_ASYNCREQUESTSTATUSES_EXPIRATIONDATE]    Script Date: 2/17/2016 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ASYNCREQUESTSTATUSES_EXPIRATIONDATE] ON [dbo].[AsyncRequestStatuses]
(
	[ExpirationDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_PERSISTEDDATA_EXPIRATIONDATE]    Script Date: 2/17/2016 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_PERSISTEDDATA_EXPIRATIONDATE] ON [dbo].[PersistedData]
(
	[ExpirationDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ResourceName]    Script Date: 2/17/2016 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_ResourceName] ON [dbo].[Resources]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IUX_Scope2Groups]    Script Date: 2/17/2016 2:27:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IUX_Scope2Groups] ON [dbo].[Scope2Groups]
(
	[GroupID] ASC,
	[ScopeName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IUX_ScopeGroups]    Script Date: 2/17/2016 2:27:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IUX_ScopeGroups] ON [dbo].[ScopeGroups]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
ALTER TABLE [dbo].[GeoCoordinates]  WITH CHECK ADD  CONSTRAINT [FK_GeoCoordinates_GlobalEntities] FOREIGN KEY([GlobalEntityID])
REFERENCES [dbo].[GlobalEntities] ([ID])
GO
ALTER TABLE [dbo].[GeoCoordinates] CHECK CONSTRAINT [FK_GeoCoordinates_GlobalEntities]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_GlobalEntities] FOREIGN KEY([GlobalEntityID])
REFERENCES [dbo].[GlobalEntities] ([ID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_GlobalEntities]
GO
ALTER TABLE [dbo].[Scope2Groups]  WITH CHECK ADD  CONSTRAINT [FK_Scope2Groups_ScopeGroups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[ScopeGroups] ([ID])
GO
ALTER TABLE [dbo].[Scope2Groups] CHECK CONSTRAINT [FK_Scope2Groups_ScopeGroups]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_GlobalEntities] FOREIGN KEY([GlobalEntityID])
REFERENCES [dbo].[GlobalEntities] ([ID])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_Votes_GlobalEntities]
GO
/****** Object:  StoredProcedure [dbo].[maintenance_daily_api]    Script Date: 2/17/2016 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[maintenance_daily_api]
AS
DECLARE
   @Rows INT,
   @END_DATE Date
BEGIN

   SET @END_DATE=getdate()
   
   SET @Rows = 1
   WHILE (@Rows > 0)
   BEGIN
       DELETE TOP (10000)
       FROM PERSISTEDDATA
       WHERE EXPIRATIONDATE<@END_DATE
       SET @Rows = @@ROWCOUNT
   END

   SET @Rows = 1
   WHILE (@Rows > 0)
   BEGIN
       DELETE TOP (10000)
       FROM ASYNCREQUESTSTATUSES
       WHERE EXPIRATIONDATE<@END_DATE
       SET @Rows = @@ROWCOUNT
   END
END

GO
/****** Object:  StoredProcedure [dbo].[maintenance_hourly_api]    Script Date: 2/17/2016 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[maintenance_hourly_api]
AS
DECLARE
   @Rows INT,
   @END_DATE Date
BEGIN

   select GETDATE()

END

GO
/****** Object:  StoredProcedure [dbo].[maintenance_weekly_api]    Script Date: 2/17/2016 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[maintenance_weekly_api]
AS
BEGIN
   
-- rebuild index
ALTER INDEX [PK_Resource] ON [Resources]
REBUILD WITH (ONLINE = ON)

ALTER INDEX [PK_GlobalEntities] ON [GlobalEntities]
REBUILD WITH (ONLINE = ON)

ALTER INDEX [PK_PERSISTEDDATA] ON PERSISTEDDATA
REBUILD WITH (ONLINE = ON)

ALTER INDEX [PK_AsyncRequestStatuses] ON ASYNCREQUESTSTATUSES
REBUILD WITH (ONLINE = ON)

END

GO



INSERT [dbo].[ScopeGroups] ([ID], [Name], [Description], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'baf4f245-0fac-4418-b529-18358aa1ea34', N'records', N'', N'System', CAST(N'2013-11-29 11:03:09.857' AS DateTime), NULL, NULL)
INSERT [dbo].[ScopeGroups] ([ID], [Name], [Description], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'689df941-c0f2-4917-bbee-19a680bc1985', N'open_data', N'', N'System', CAST(N'2014-03-31 07:28:02.387' AS DateTime), NULL, NULL)
INSERT [dbo].[ScopeGroups] ([ID], [Name], [Description], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'39934f23-ddea-4d9e-a6cd-1a703bbdfe3e', N'costs', NULL, N'System', CAST(N'2014-09-25 08:46:58.523' AS DateTime), N'System', CAST(N'2014-09-25 08:46:58.523' AS DateTime))
INSERT [dbo].[Scope2Groups] ([ID], [GroupID], [ScopeName], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'df732fd5-1a6f-4163-b092-001ea90e2feb', N'a8aee62b-e6fb-407e-87ae-471122f1a89a', N'update_citizenaccess_citizens_password', N'Don Liang', CAST(N'2015-03-17 08:30:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Scope2Groups] ([ID], [GroupID], [ScopeName], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'373e07f8-a3ac-412b-a4fd-004d657c6134', N'baf4f245-0fac-4418-b529-18358aa1ea34', N'get_ref_asit_drilldown', N'System', CAST(N'2013-11-29 11:03:54.010' AS DateTime), NULL, NULL)
INSERT [dbo].[Scope2Groups] ([ID], [GroupID], [ScopeName], [CreatedBy], [CreatedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (N'fa89b809-a552-4ada-9177-00927d4f412b', N'baf4f245-0fac-4418-b529-18358aa1ea34', N'get_record_customform_meta', N'System', CAST(N'2014-03-31 07:28:03.260' AS DateTime), NULL, NULL)
GO

