<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accela.Core" version="1.0.1" targetFramework="net451" />
  <package id="Accela.Core.Ioc.SimpleInjector" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Core.Logging" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure" version="1.0.2" targetFramework="net451" />
  <package id="Accela.Infrastructure.Cache" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure.Cache.Memory" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure.Cache.Redis" version="1.0.1" targetFramework="net451" />
  <package id="Accela.Infrastructure.Configuration.App" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure.PubSub" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure.PubSub.Enterprise" version="1.0.0" targetFramework="net451" />
  <package id="Accela.Infrastructure.Storage" version="1.0.2" targetFramework="net451" />
  <package id="Accela.Infrastructure.Storage.Azure" version="1.0.2" targetFramework="net451" />
  <package id="Accela.Infrastructure.Storage.SQLServer" version="1.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.5.0" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.1.2.0" targetFramework="net451" />
</packages>