<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accela.Apps.Admin.Agency.Client" version="2.0.1" targetFramework="net451" />
  <package id="Accela.Apps.Shared" version="2.0.3" targetFramework="net451" />
  <package id="Accela.Core" version="2.0.1" targetFramework="net451" />
  <package id="Accela.Core.Logging" version="1.0.9" targetFramework="net451" />
  <package id="Accela.Infrastructure" version="2.0.2" targetFramework="net451" />
  <package id="Accela.Infrastructure.Storage" version="2.0.0" targetFramework="net451" />
  <package id="NLog" version="3.2.1" targetFramework="net451" />
</packages>