/****** Object:  Table [dbo].[API_SCHEMAS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_SCHEMAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_SCHEMAS](
	[ID] [varchar](36) NOT NULL,
	[RESOURCE_ID] [varchar](36) NOT NULL,
	[REQUEST_SCHEMA] [nvarchar](max) NULL,
	[RESPONSE_SCHEMA] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_SCHEMAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_SAMPLES]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_SAMPLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_SAMPLES](
	[ID] [varchar](36) NOT NULL,
	[RESOURCE_ID] [varchar](36) NOT NULL,
	[SAMPLE_LAGNGUAGE] [varchar](20) NOT NULL,
	[REQUEST_URL_SAMPLE] [nvarchar](500) NOT NULL,
	[REQUEST_HEADER_SAMPLE] [nvarchar](2000) NULL,
	[REQUEST_BODY_SAMEPLE] [nvarchar](max) NULL,
	[RESPONSE_HEADER_SAMPLE] [nvarchar](2000) NULL,
	[RESPONSE_BODY_SAMEPLE] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_DESCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_PARAMETERS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_PARAMETERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_PARAMETERS](
	[ID] [varchar](36) NOT NULL,
	[RESOURCE_ID] [varchar](36) NOT NULL,
	[PARAMETER_NAME] [nvarchar](50) NOT NULL,
	[IS_PRIMITIVE_TYPE] [varchar](1) NOT NULL,
	[DATA_TYPE] [varchar](20) NOT NULL,
	[REQUIRED] [varchar](1) NOT NULL,
	[DATA_TYPE_OBJECTORFIELD_ID] [varchar](36) NOT NULL,
	[IN_OUT] [varchar](1) NOT NULL,
	[PARAM_FROM] [varchar](10) NOT NULL,
	[IS_ARRAY] [varchar](1) NOT NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_PARAMETERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_OBJECTS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_OBJECTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_OBJECTS](
	[ID] [varchar](36) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[PARENT_OBJECT_ID] [varchar](36) NULL,
	[SCHEMA_STANDARD] [varchar](100) NULL,
	[PARAMETER_ID] [varchar](36) NULL,
	[TITLE] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[REQUIRED_PROPERTIES] [varchar](250) NULL,
	[SAMPLE_VALUE] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_OBJECTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_OBJECT_FIELDS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_OBJECT_FIELDS](
	[ID] [varchar](36) NOT NULL,
	[OBJECT_OR_PARAM_ID] [varchar](36) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[IS_PK] [varchar](1) NOT NULL,
	[DATA_TYPE] [varchar](20) NOT NULL,
	[DATA_TYPE_OBJECT_ID] [varchar](36) NULL,
	[IS_ARRAY] [varchar](1) NOT NULL,
	[REQUIRED] [varchar](1) NOT NULL,
	[READONLY] [varchar](1) NOT NULL,
	[NUMBER_MINIMUM] [float] NULL,
	[NUMBER_MAXIMUM] [float] NULL,
	[NUMBER_EXCLUSIV_MINIMUM] [varchar](1) NULL,
	[NUMBER_EXCLUSIE_MAXIMUM] [varchar](1) NULL,
	[STRING_MIN_LENGTH] [int] NULL,
	[STRING_MAX_LENGTH] [int] NULL,
	[STRING_PATTERN] [nvarchar](200) NULL,
	[STRING_FORMAT] [varchar](20) NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
	[VALUE_SAMPLE] [nvarchar](200) NULL,
	[DEFAULT_VALUE] [nvarchar](200) NULL,
	[TITLE] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](2000) NULL,
	[LABEL_ID] [varchar](100) NULL,
	[DEFAULT_VALIDATION_ID] [varchar](36) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_OBJECT_FIELDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_DOC_FIELD_DESCRIPTIONS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_DOC_FIELD_DESCRIPTIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_DOC_FIELD_DESCRIPTIONS](
	[ID] [int] NOT NULL,
	[VIEW_NAME] [varchar](50) NULL,
	[CONTAINING_PORTLETS] [varchar](1500) NULL,
	[LABEL_ID] [varchar](100) NOT NULL,
	[STRING_VALUE] [varchar](200) NULL,
	[TABLE_NAME] [varchar](50) NULL,
	[COLUMN_NAME] [varchar](50) NULL,
	[COLUMN_DESC_OLD] [varchar](2000) NULL,
	[COLUMN_DESC] [varchar](2000) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
 CONSTRAINT [PK_API_DOC_FIELD_DESCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[API_DOC_API_DESCRIPTIONS]    Script Date: 11/28/2013 09:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[API_DOC_API_DESCRIPTIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[API_DOC_API_DESCRIPTIONS](
	[ID] [varchar](36) NOT NULL,
	[RESOURCE_ID] [varchar](36) NOT NULL,
	[API] [varchar](500) NOT NULL,
	[HTTP_VERB] [varchar](10) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[LAST_UPDATED_BY] [nvarchar](50) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_API_DOC_API_DESCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Default [DF_API_OBJECT_FIELDS_IS_PK]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_OBJECT_FIELDS_IS_PK]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_OBJECT_FIELDS_IS_PK]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_OBJECT_FIELDS] ADD  CONSTRAINT [DF_API_OBJECT_FIELDS_IS_PK]  DEFAULT ('N') FOR [IS_PK]
END


End
GO
/****** Object:  Default [DF_API_OBJECT_FIELDS_IS_ARRAY]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_OBJECT_FIELDS_IS_ARRAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_OBJECT_FIELDS_IS_ARRAY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_OBJECT_FIELDS] ADD  CONSTRAINT [DF_API_OBJECT_FIELDS_IS_ARRAY]  DEFAULT ('N') FOR [IS_ARRAY]
END


End
GO
/****** Object:  Default [DF_API_OBJECT_FIELDS_REQUIRED]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_OBJECT_FIELDS_REQUIRED]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_OBJECT_FIELDS_REQUIRED]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_OBJECT_FIELDS] ADD  CONSTRAINT [DF_API_OBJECT_FIELDS_REQUIRED]  DEFAULT ('N') FOR [REQUIRED]
END


End
GO
/****** Object:  Default [DF_API_OBJECT_FIELDS_UPDATABLE]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_OBJECT_FIELDS_UPDATABLE]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_OBJECT_FIELDS_UPDATABLE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_OBJECT_FIELDS] ADD  CONSTRAINT [DF_API_OBJECT_FIELDS_UPDATABLE]  DEFAULT ('N') FOR [READONLY]
END


End
GO
/****** Object:  Default [DF_API_OBJECT_FIELDS_DISPLAY_ORDER]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_OBJECT_FIELDS_DISPLAY_ORDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_OBJECT_FIELDS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_OBJECT_FIELDS_DISPLAY_ORDER]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_OBJECT_FIELDS] ADD  CONSTRAINT [DF_API_OBJECT_FIELDS_DISPLAY_ORDER]  DEFAULT ((0)) FOR [DISPLAY_ORDER]
END


End
GO
/****** Object:  Default [DF_API_PARAMETERS_IN_OUT]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_PARAMETERS_IN_OUT]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_PARAMETERS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_PARAMETERS_IN_OUT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_PARAMETERS] ADD  CONSTRAINT [DF_API_PARAMETERS_IN_OUT]  DEFAULT ('I') FOR [IN_OUT]
END


End
GO
/****** Object:  Default [DF_API_PARAMETERS_IS_ARRAY]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_PARAMETERS_IS_ARRAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_PARAMETERS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_PARAMETERS_IS_ARRAY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_PARAMETERS] ADD  CONSTRAINT [DF_API_PARAMETERS_IS_ARRAY]  DEFAULT ('N') FOR [IS_ARRAY]
END


End
GO
/****** Object:  Default [DF_API_PARAMETERS_DISPLAY_ORDER]    Script Date: 11/28/2013 09:28:03 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_API_PARAMETERS_DISPLAY_ORDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[API_PARAMETERS]'))
Begin
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DF_API_PARAMETERS_DISPLAY_ORDER]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[API_PARAMETERS] ADD  CONSTRAINT [DF_API_PARAMETERS_DISPLAY_ORDER]  DEFAULT ((0)) FOR [DISPLAY_ORDER]
END


End
GO
