<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging,Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    <!--<section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
 
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.TransientFaultHandling.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1209.0" newVersion="5.1.1209.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <RetryPolicyConfiguration defaultRetryStrategy="FixedIntervalDefault" defaultSqlConnectionRetryStrategy="FixedIntervalDefault" defaultSqlCommandRetryStrategy="FixedIntervalDefault" defaultAzureStorageRetryStrategy="IncrementalIntervalDefault" defaultAzureServiceBusRetryStrategy="IncrementalIntervalDefault">
    <fixedInterval name="FixedIntervalDefault" maxRetryCount="3" retryInterval="00:00:00.1" />
    <incremental name="IncrementalIntervalDefault" maxRetryCount="3" initialInterval="00:00:00.01" retryIncrement="00:00:00.05" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  
  <appSettings>
    <add key="DefaultCulture" value="en-US" />
    <add key="GenericAgencyName" value="SOUTHLK-NAME" />
    <add key="ArcGISServerUrl" value="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer" />
    <add key="ArcGISTokenServiceUrl" value="https://www.arcgis.com/sharing/generateToken" />
    <add key="ArcGISTokenUserName" value="alakkyreddy" />
    <add key="ArcGISTokenPassword" value="Accela12" />
    <add key="ArcGISTokenExpiration" value="60" />
    <add key="ArcGISReferer" value="accela.com" />
    <add key="AccessTokenSigningKey" value="LkFjY2VsYU9BdXRoVjIuMFRva2VuMjAxMjEyMDgu" />
    <add key="ResourceServerEncryptionKey" value="Ij2lUjf3UYs8O" />
    <add key="InternalAPI_AccessKey" value="dhHeALUHMuBK+kC5lQktCwJINpSpLGIbsm96LFJ5GVOJErOH/TIRVQO+jh/SaNlMZ/noLpf4Zdd1d3Ts/muWCQ==" />
    <add key="Ref_InternalAPI_Admin" value="https://apps-admin.cloudapp.net/apis/v3" />
    <add key="Ref_InternalAPI_Dev" value="https://apps-developer.cloudapp.net/apis/v3" />
    <add key="Ref_InternalAPI_User" value="https://apps-user.cloudapp.net/apis/v3" />
    
    <add key="Ref_InternalAPI_OAuth" value="https://apps-auth.cloudapp.net/apis/v3" />
    
    <!-- default sql connection string and provider name-->
    <add key="ApiDoc_DBConnectionString" value="provider connection string='data source=kszdcyoqxe.database.windows.net;initial catalog=CP_APPS_DOCS;user id=sqlazuredevadmin;password=@ccela123;MultipleActiveResultSets=True;App=EntityFramework';metadata=res://*/APIDocContext.csdl|res://*/APIDocContext.ssdl|res://*/APIDocContext.msl;provider=System.Data.SqlClient;" />
    <add key="Api_DBConnectionString" value="provider connection string='data source=kszdcyoqxe.database.windows.net;initial catalog=CP_APPS_API;User Id=sqlazuredevadmin;Password=@ccela123;multipleactiveresultsets=True;App=EntityFramework';metadata=res://*/ApiDataContext.csdl|res://*/ApiDataContext.ssdl|res://*/ApiDataContext.msl;provider=System.Data.SqlClient;" />
    <add key="Api_StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=accelaappsv3deveastasia;AccountKey=s9xV8uaOitujV8A7hK5UtR0+jZQ8aYy2xBfCcKLlmuva1MDJM29E8HE+DLAzzPzDsg4UNmvPmHob93Fu8ISU4A==" />
    <!--api reference filter v4 api which are marked as private api-->
    <add key="Filter_V4_Private_API" value="C4012345-AAAA-BBBB-CCCC-123456700046,C4012345-AAAA-BBBB-CCCC-D23456700228,c4012345-aaaa-bbbb-cccc-d23456700226,c4012345-aaaa-bbbb-cccc-d23456700227" />
    <!--LogLevel enable option: Critical,Error,Warn,Info,Debug. The default value is Error.-->
    <add key="LogLevel" value="Info" />
    <add key="current_sub_system" value="apis.apps" />
    <add key="Log_StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=accelaappsv3deveastasia;AccountKey=s9xV8uaOitujV8A7hK5UtR0+jZQ8aYy2xBfCcKLlmuva1MDJM29E8HE+DLAzzPzDsg4UNmvPmHob93Fu8ISU4A==" />
    <!--cloud configuration don't need the following items-->
    <add key="IgnoreCloudConfiguration" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="Agency.Environment" value="PROD" />
    <add key="Auth.Url.Authorization" value="https://apps-auth.dev.accela.com/oauth2/authorize" />
    <add key="Auth.Url.Token" value="https://apps-auth.dev.accela.com/oauth2/token" />
    <add key="API.Url.UserProfile" value="https://apps-apis.dev.accela.com/v4/civicid/profile" />
    <add key="Auth.Url.Logout" value="https://apps-auth.dev.accela.com/civic/logout" />
    <add key="ApplicationId" value="635339775442544632" />
    <add key="ApplicationSecret" value="67159369a6984f20875e240c21720587" />
    <add key="ApplicationType" value="Agency" />
    <add key="AgencyId" value="SOLNDEV-ENG" />
    <add key="ApplicationScopes" value="records,create_partial_record,contacts,addresses,agencies,get_record_documents,get_document,create_record_document,download_document,cashier,users" />
    <add key="CivicIdOauthToken" value="xTLo-CoDkUKs7GnkUOSmmgnTo5CIosL0sRXIxJYBd1duQzda8iC5fCWZdQ5bHHAD-ietXEPeBH05hqbQIXLFj69iT_FA9Dylkdlte7PTFFmQFeObhV6w-0tTYEt8hcLfIaM2hyBieUKckVBDFMZNqh7ovK_U61eRDma8_jWEe4GYkqQb7DH3Z53lwDXLjblQfzYMkfGyl2CohxSnCObrOlbDt936qYVT_HWRwV6QShMtiG6J0_50HLkGfO8EKIu1tkIfyPDuVLyOCXVaZjGm0Z7YjEpr8dC_kyAFJ7JPNMTqpsb-jHXV3FeHO7jFMp7YyqxhoPvWc0yWsPQXhQsJ8JIOLUus6kCKncC3VdTBfy4Wh67r6Jn-z8GKVf55Y7ENuX64EJsHOKelBNQld5Sr_AVYNVCOd2KNP0Az3agqUYYTWF-QmEahUSIeCiIxyXBmyxCGbNxBYPF5zHfx4BApUQECmJlAC1ZcmiS2FzT-6NESiRIORyyC81_wzqL9byzG3y7w2wE4TE5jqO9ShLh4iPCXfnqtuLqJxPzNjN3RVI8ii_p1ixPz1xBsbFo3LzzfPvwcHzmE9tUZkyzQLiZlyuXS952_eDDcr_peLHwZf4DMQcw3API5LFm8U2eKYwl8UHZv-mm2te7c3M9J1nERkeio_zwuKvMTXnLLgdaWSqqbZOZ36XhbyQe3vzmJ1JzAr_uYixlEu04-qYWSydsWOg2" />

    <add key="ResourceCacheExpirationMinutes" value="15" />
  </appSettings>
</configuration>