<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- QA env. -->

    <!-- config specific to env. -->
    <add key="EnableMockAPI" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableSSLorTLSValidation" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AccessTokenSigningKey" value="LkFjY2VsYU9BdXRoVjIuMFRva2VuMjAxMjEyMDgu"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResourceServerEncryptionKey" value="Ij2lUjf3UYs8O"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResourceCacheExpirationMinutes" value="5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GatewayRequestTimeoutMinutes" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InternalAPI_Timeout_Seconds" value="300"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogLevel" value="Debug" />

    <!-- config specific to 3rd party Logentries -->
    <add key="LOGENTRIES_TOKEN" value="b97f2604-82c1-4074-89c3-181466c891da"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- config specific to 3rd party Redis server -->
    <add key="redis.server" value="construct-qa-cache.redis.cache.windows.net"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="redis.port" value="6380"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="redis.ssl" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="redis.password" value="vuXiFDJ4ZLuYECnJEkNkoSIMvv7V5Rhk3GrBBElBXVI="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- config specific to other Construct sub-system -->
    <add key="InternalAPI_AccessKey" value="123456789"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_Admin" value="https://apps-admin.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_Dev" value="https://apps-developer.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_User" value="https://apps-user.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_OAuth" value="https://apps-auth.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- config specific to infrastructure -->
    <add key="Api_DBConnectionString" value="provider connection string='data source=n9qmmhqrs9.database.windows.net;initial catalog=QA_API;User ID=constructscm;Password=@ccela123;multipleactiveresultsets=True;App=EntityFramework';metadata=res://*/ApiDataContext.csdl|res://*/ApiDataContext.ssdl|res://*/ApiDataContext.msl;provider=System.Data.SqlClient;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Api_StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=constructqa;AccountKey=LRaXBrHhYM3oUrsJR2tVlVsodssJ7eWojYnpVvBXsv08VmdysgeVywIi0uq7hzew/8IfYf7dnlbeLr0ix+tUsQ=="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocumentDB_ConnectionString" value="AccountEndpoint=https://admdocumentdb.documents.azure.com:443/;AccountKey=uMKEXr4kMAt8PLUFTFp7vlvSTciDjFX5S2TSl94Irv49ECHXDqBRvuL/etwq6zBdpG9HZIWs/S1CsSRk77Vmkw==;Database=Apps"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://construct-qa-service-bus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=kx76Y0v0yqNe3W0ARJgMzDlvxtLeJrydN9wFXC+cbd0="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->
    <customErrors mode="Off" xdt:Transform="Replace">
    </customErrors>
  </system.web>
</configuration>