<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
      <!-- config same cross env. -->
      <add key="current_sub_system" value="Construct.Apis" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="DefaultCulture" value="en-US" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to env. -->
      <add key="EnableMockAPI" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GenericAgencyName" value="BIGBUCKET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="EnableSSLorTLSValidation" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AccessTokenSigningKey" value="SmtkJSZNZDI=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ResourceServerEncryptionKey" value="LmwMd3ld11" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ResourceCacheExpirationMinutes" value="720" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AgencyAndEnvironmentCacheExpirationMinutes" value="720" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AppCacheExpirationMinutes" value="720" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GatewayRequestTimeoutMinutes" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="InternalAPI_Timeout_Seconds" value="300"/>
      <add key ="StorageRetryPolicy" value="RetryMethod:Exponential,DeltaBackOffMilliSeconds:300,MaxAttempts:3"/>
      <add key="LogLevel" value="Info" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to 3rd party ArcGIS server -->
      <add key="ArcGISServerUrl" value="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ArcGISTokenServiceUrl" value="https://www.arcgis.com/sharing/generateToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ArcGISTokenUserName" value="alakkyreddy" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ArcGISTokenPassword" value="Accela12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ArcGISTokenExpiration" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ArcGISReferer" value="accela.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to 3rd party Logentries -->
      <add key="LOGENTRIES_TOKEN" value="aa43893b-b967-4c89-8926-b1106476c5b3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to 3rd party Redis server -->
      <add key="redis.server" value="construct-dev-cache.redis.cache.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="redis.port" value="6380" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="redis.ssl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="redis.password" value="GYBcwjkA3VY6NLCkH6A405DrzffU8PeqSkebyKLztEE=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to other Construct sub-system -->
      <add key="InternalAPI_AccessKey" value="123456789" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Ref_InternalAPI_Admin" value="https://Construct-dev-admin.cloudapp.net/apis/v3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Ref_InternalAPI_Dev" value="https://Construct-dev-Developer.cloudapp.net/apis/v3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Ref_InternalAPI_User" value="https://Construct-dev-User.cloudapp.net/apis/v3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Ref_InternalAPI_OAuth" value="https://Construct-dev-Auth.cloudapp.net/apis/v3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- config specific to infrastructure -->
      <add key="Api_DBConnectionString" value="provider connection string='Data Source=n9qmmhqrs9.database.windows.net;initial catalog=CD-API;user id=constructscm;password=@ccela123;multipleactiveresultsets=True;App=EntityFramework';metadata=res://*/ApiDataContext.csdl|res://*/ApiDataContext.ssdl|res://*/ApiDataContext.msl;provider=System.Data.SqlClient;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Api_StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=constructdev;AccountKey=Fywtr57UBf6Zjp98h9zfSKg4eK2GWqsD0qTnmO3DvfMs6E9r11MPqZZNyyLnh9H55vT8GNOSyaPnl5/B16AY8A==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="DocumentDB_ConnectionString" value="AccountEndpoint=https://admdocumentdb.documents.azure.com:443/;AccountKey=uMKEXr4kMAt8PLUFTFp7vlvSTciDjFX5S2TSl94Irv49ECHXDqBRvuL/etwq6zBdpG9HZIWs/S1CsSRk77Vmkw==;Database=Staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://constructpubsubpoc.servicebus.windows.net/;SharedAccessKeyName=pubsubpoc;SharedAccessKey=eBG6+RyV+zccIID+9MxrKWRwi8GCBbJwwfbFegpEi2w=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=constructdevdiagnostics;AccountKey=BGR+sG/YPZykaGoQmWARTEhjTiLfh2Q8+30ya3kGmAoggn87IfKmU6TD9a8uVTfXgrsoNHGY5fnP6T1+j6eqCg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="59707a77-4e16-4892-b658-517a23e13fd7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="Microsoft.WindowsAzure.Plugins.RemoteAccess.Enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountUsername" value="constructscm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountEncryptedPassword" value="MIICLgYJKoZIhvcNAQcDoIICHzCCAhsCAQAxggHfMIIB2wIBADCBwjCBtDELMAkGA1UEBhMCVVMxEDAOBgNVBAgTB0FyaXpvbmExEzARBgNVBAcTClNjb3R0c2RhbGUxGjAYBgNVBAoTEUdvRGFkZHkuY29tLCBJbmMuMS0wKwYDVQQLEyRodHRwOi8vY2VydHMuZ29kYWRkeS5jb20vcmVwb3NpdG9yeS8xMzAxBgNVBAMTKkdvIERhZGR5IFNlY3VyZSBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkgLSBHMgIJAM8XhuQ4F6uxMA0GCSqGSIb3DQEBAQUABIIBAIWu8i2iV5glgTf8HVAERYgYGH1fkH0ZnxMWXpUOR53EC61KTW01lSmD5UofOfVmIjbhUs+Tc+1xC26/f/1NdXkPPx1eFdnKe2eVf+nvuPr3jx2lgMcSrTkhII+0UxjnUgYGQOBIcGV0rNlo2C/mctwj8KftA+pU+xm98bpM2KbDQt8AM2xMrDcxQOzmUmom4cHdPkt+NceUp2L6iT8ILBzsPAHiGV52U/L34kQMqrdjtslBuA9z49ou4stZeOXyYmYYo++ImdrjTbI6o4wwdOHen9nIniB/RZtyP7ttw0/+5V8RpusEDHNul9xGGO5GNV22U1q+0n9hM5+B52LHgsEwMwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAjFCpRxaN1pUYAQAyh6V5UlsCVDtKqWVUPOFw==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.WindowsAzure.Plugins.RemoteAccess.AccountExpiration" value="2017-03-26T23:59:59.0000000-07:00" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Microsoft.WindowsAzure.Plugins.RemoteForwarder.Enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.diagnostics xdt:Transform="Replace">
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->
    <customErrors mode="Off" xdt:Transform="Replace">
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>