<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- config specific to env. -->
    <add key="EnableMockAPI" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableSSLorTLSValidation" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AccessTokenSigningKey" value="LkFjY2VsYU9BdXRoVjIuMFRva2VuMjAxMjEyMDgu"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResourceServerEncryptionKey" value="Ij2lUjf3UYs8O"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ResourceCacheExpirationMinutes" value="5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogLevel" value="Debug" />

    <!-- config specific to other Construct sub-system -->
    <add key="InternalAPI_AccessKey" value="dhHeALUHMuBK+kC5lQktCwJINpSpLGIbsm96LFJ5GVOJErOH/TIRVQO+jh/SaNlMZ/noLpf4Zdd1d3Ts/muWCQ=="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_Admin" value="https://apps-admin.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_Dev" value="https://apps-developer.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_User" value="https://apps-user.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ref_InternalAPI_OAuth" value="https://apps-auth.cloudapp.net/apis/v3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- config specific to infrastructure -->
    <add key="Api_DBConnectionString" value="provider connection string='data source=SLC-APPS2\MSSQL2014EE;initial catalog=CP_APPS_API;User Id=sa;Password=Accela@2014;multipleactiveresultsets=True;App=EntityFramework';metadata=res://*/ApiDataContext.csdl|res://*/ApiDataContext.ssdl|res://*/ApiDataContext.msl;provider=System.Data.SqlClient;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Api_StorageConnectionString" value="data source=SLC-APPS2\MSSQL2014EE;Initial Catalog=CP_APPS_API_STORAGE_QA;User Id=sa;Password=Accela@2014;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://accelaesb2/ServiceBusDefaultNamespace;StsEndpoint=https://accelaesb2:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=F8cuQKbWVLphO8n7uxN1yEy9yBflZG1gMieWGycMnAg="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace">
    </customErrors>
  </system.web>
</configuration>
